<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.0.1/css/ol.css" type="text/css">
    <link href="styles.css" type="text/css" rel="stylesheet"></link>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <section id="map"></section>

    <section id="debug">
      <div id="mouse-position-parcels"></div>
      <div id="mouse-position-latlong"></div>
    </section>

    <section id="controls">
        <div>
            <button id="backward3">&lt;&lt;&lt;</button>
            <button id="backward2">&lt;&lt;</button>
            <button id="backward1">&lt;</button>
            <button id="pause">Pause</button>
            <button id="forward1">&gt;</button>
            <button id="forward2">&gt;&gt;</button>
            <button id="forward3">&gt;&gt;&gt;</button>
            <input id="speed" style="display:none;" value="0" />
        </div>
        <div>
            <span id="tick-display">00:00:00</span>
            <input id="tick" type="range" min="0" max="25200" value="0" class="slider styled-slider slider-progress">
            <span>07:00:00</span>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.0.1/build/ol.js"></script>
  </body>
</html>
